.App {
  text-align: center;
}
.startHeader{
  height: 10vh;
}

.name{
  color:white;
  font-family: "MyFont";
  font-size: medium;
  letter-spacing: 3px;
  display: flex;
}
.box{
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 2%;
  margin-right: 2%;
  display: inline-block;
  width: fit-content;
}
.head-box{
  display: flex;
  justify-content: space-between;
}
