.App {
  text-align: center;
}
.startHeader{
  height: 10vh;
}
.col{
  color: white;
}

.name{
  color:white;
  font-family: "MyFont";
  font-size: medium;
  letter-spacing: 3px;
  display: flex;
  justify-content: space-between;
}
.box{
  display: inline-block;
  width: fit-content;
  /* height: fit-content; */
}
.gutter{
  width: auto;
}