@font-face {
  font-family: "MyFont";
  src: url("./font/Gobold_Extra1.woff") format("woff");
}

body {
  background-color: #202020;

  margin: 0;
  font-family: 'MyFont',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'MyFont',sans-serif;
}